<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ProductinfoMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Productinfo">
        <id column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_price" jdbcType="FLOAT" property="productPrice" />
        <result column="product_s_pic" jdbcType="VARCHAR" property="productSPic" />
        <result column="product_b_pic" jdbcType="VARCHAR" property="productBPic" />
        <result column="product_intro" jdbcType="VARCHAR" property="productIntro" />
        <result column="product_status" jdbcType="INTEGER" property="productStatus" />
        <result column="product_inventory" jdbcType="INTEGER" property="productInventory" />
        <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    </resultMap>
    <sql id="Base_Column_List">
        product_id, product_name, product_price, product_s_pic, product_b_pic, product_intro,product_status,product_inventory, seller_id
    </sql>

    <select id="selectByPrimaryProductKey" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from productinfo
        where product_id = #{productId,jdbcType=INTEGER}
    </select>

    <select id="selectByProductNameAndSellerId" parameterType="com.example.demo.entity.Productinfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from productinfo
        where product_name = #{productName,jdbcType=VARCHAR} and seller_id = #{sellerId,jdbcType=INTEGER}
    </select>

    <select id="getProductsList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productinfo
        <where>
            <if test="productStatus!=null and productStatus!=''">
                and product_status = #{productStatus}
            </if>
        </where>
        order by product_id desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getProductsSellerList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productinfo
        <where>
            <if test="productStatus!=null and productStatus!=''">
                and product_status = #{productStatus}
            </if>
            <if test="sellerId!=null and sellerId!=''">
                and seller_id = #{sellerId}
            </if>
        </where>
        order by product_id desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getProductsCount" parameterType="Map" resultType="int">
        select count(*) from productinfo
        <where>
            <if test="productName!=null and productName!=''">
                and product_name like CONCAT('%','#{productName}','%')
            </if>
            <if test="productStatus!=null and productStatus!=''">
                and product_status = #{productStatus}
            </if>
        </where>
    </select>

    <select id="getProductsBySearch" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productinfo
        <where>
            <if test="productName!=null and productName!=''">
                and product_name like CONCAT('%','#{productName}','%')
            </if>
            <if test="productStatus!=null and productStatus!=''">
                and product_status = #{productStatus}
            </if>
        </where>
        <if test="orderBy!=null and orderBy!=''">
            <choose>
                <when test="orderBy == 'new'">
                    <!-- 按照发布时间倒序排列 -->
                    order by product_id desc
                </when>
                <when test="orderBy == 'price'">
                    <!-- 按照售价从小到大排列 -->
                    order by product_price asc
                </when>
                <otherwise>
                    <!-- 默认按照库存数量从大到小排列 -->
                    order by product_inventory desc
                </otherwise>
            </choose>
        </if>
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.Productinfo">
        insert into productinfo (product_name, product_price, product_intro,product_status,product_inventory,seller_id)
        values (#{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=FLOAT}, #{productIntro,jdbcType=VARCHAR},
                #{productStatus,jdbcType=INTEGER},#{productInventory,jdbcType=INTEGER},#{sellerId,jdbcType=INTEGER})
    </insert>

    <update id="updateProductInfo" parameterType="com.example.demo.entity.Productinfo">
        update productinfo
        set product_name = #{product_name,jdbcType=VARCHAR},
            product_price = #{product_price,jdbcType=FLOAT},
            product_intro = #{product_intro,jdbcType=VARCHAR},
            product_status = #{product_status,jdbcType=INTEGER},
            product_inventory = #{product_inventory,jdbcType=INTEGER},
        where product_id = #{product_id,jdbcType=INTEGER}
    </update>

    <update id="uploadProductSPic" parameterType="com.example.demo.entity.Productinfo">
        update productinfo
        set product_s_pic = #{productSPic,jdbcType=VARCHAR}
        where product_name = #{productName,jdbcType=VARCHAR} and seller_id = #{sellerId,jdbcType=INTEGER}
    </update>

</mapper>